* {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px; }

.container {
  max-width: 1170px;
  margin: 0 auto; }

.row::after, .row::before {
  display: table;
  content: '';
  clear: both; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

[class*='col-'] {
  float: left;
  min-height: 1px;
  padding: 10px; }

.col-mobile-1 {
  width: 8.33333%; }

.col-mobile-2 {
  width: 16.66667%; }

.col-mobile-3 {
  width: 25%; }

.col-mobile-4 {
  width: 33.33333%; }

.col-mobile-5 {
  width: 41.66667%; }

.col-mobile-6 {
  width: 50%; }

.col-mobile-7 {
  width: 58.33333%; }

.col-mobile-8 {
  width: 66.66667%; }

.col-mobile-9 {
  width: 75%; }

.col-mobile-10 {
  width: 83.33333%; }

.col-mobile-11 {
  width: 91.66667%; }

.col-mobile-12 {
  width: 100%; }

@media (min-width: 400px) {
  [class*='col-mobile-'] {
    float: left;
    display: flex;
    flex-direction: row;
    border: 1px solid green;
    min-height: 1px; } }

.wrapper {
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  width: 100%; }

.barOne {
  height: 183px; }
  @media (min-width: 600px) {
    .barOne {
      height: 123px; } }

.show-hide-menu {
  color: white; }
  @media (min-width: 600px) {
    .show-hide-menu {
      display: none; } }

.stickyBar .menu {
  display: none; }
  @media (min-width: 650px) {
    .stickyBar .menu {
      display: inline-block;
      float: right;
      font-weight: 700; } }

.stickyBar li {
  display: block;
  text-align: center;
  color: white; }
  @media (min-width: 650px) {
    .stickyBar li {
      display: inline-block;
      font-size: 20px;
      letter-spacing: 0.2px;
      padding: 5px 28px 0px 0px;
      color: white; } }

.box {
  background-color: orange; }

.showHideMenu {
  width: 120px;
  height: 50px;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  display: inline-block;
  margin: 105px 0px 0 calc(38% - 10px); }
  .showHideMenu p {
    text-align: center;
    margin-top: calc(22% - 10px);
    letter-spacing: 2px;
    font-weight: 600; }
  @media (min-width: 650px) {
    .showHideMenu {
      display: none; } }

.logo {
  width: 250px;
  height: 50px;
  background-image: url("../images/podpis%20zdjec%20copy.PNG");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  top: calc(50% - 35px);
  left: calc(25% - 25px);
  position: absolute; }
  @media (min-width: 650px) {
    .logo {
      position: relative;
      left: 0%;
      top: 2.5em; } }

.sectionOne {
  height: 640px; }
  @media (min-width: 600px) {
    .sectionOne {
      height: 819px;
      position: relative; } }

.photo {
  background-size: cover;
  position: absolute;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-image: url("../images/wybrane/Natalia_Tarnawska-11.jpg");
  height: 100vh;
  width: 100vw; }
  @media (min-width: 600px) {
    .photo {
      height: 100vh;
      width: 100vw; } }

.btnLeft {
  width: 50px;
  cursor: pointer;
  float: left;
  height: 130px;
  background: rgba(255, 255, 255, 0.2);
  position: relative;
  top: calc(50% - 50px); }
  .btnLeft span {
    color: white;
    font-size: 35px;
    top: calc(50% - 22px);
    position: absolute;
    margin-left: calc(50% - 12px); }

.btnRight {
  width: 50px;
  cursor: pointer;
  float: right;
  height: 130px;
  background: rgba(255, 255, 255, 0.2);
  position: relative;
  top: calc(50% - 50px); }
  .btnRight span {
    color: white;
    font-size: 35px;
    top: calc(50% - 22px);
    position: absolute;
    margin-left: calc(50% - 12px); }

.position {
  position: absolute;
  left: 0;
  right: 0;
  top: 124px;
  bottom: 0; }

.headerOne {
  display: inline-block;
  font-weight: 200;
  color: white;
  font-size: 40px;
  margin-top: 100px;
  margin-left: calc(50% - 90px); }
  @media (min-width: 600px) {
    .headerOne {
      font-size: 90px;
      margin: 250px 0 0 150px; } }

.headerTwo {
  display: inline-block;
  font-weight: 600;
  color: white;
  font-size: 16px;
  margin: 5px calc(50% - 150px); }
  @media (min-width: 600px) {
    .headerTwo {
      font-size: 34px;
      margin: 0 0 0 265px; } }

.btnOne {
  border: 2px solid white;
  display: inline-block;
  cursor: pointer;
  width: 120px;
  height: 50px;
  padding: 11px 24px;
  margin: 60px 0 0 127px; }
  .btnOne span {
    color: white;
    font-size: 18px; }
  @media (min-width: 600px) {
    .btnOne {
      height: 70px;
      width: 220px;
      margin-left: 270px;
      margin-left: 475px;
      margin-top: 75px;
      padding: 17px 58px; }
      .btnOne span {
        color: white;
        font-size: 25px; } }

.sectionTwo {
  height: 649px;
  background-color: #3f3640;
  color: white;
  z-index: 2;
  position: absolute;
  width: 100vw; }

.allText * {
  width: 100%; }

@media (min-width: 600px) {
  .allText {
    width: 50%;
    display: inline-block;
    margin: 60px 0; } }

.headerSectionTwo {
  font-size: 35px;
  font-weight: 400;
  margin: 32px 6px; }
  @media (min-width: 600px) {
    .headerSectionTwo {
      font-size: 65px;
      margin: 42px 6px;
      font-weight: 600; } }

.beltSectionTwo {
  width: 120px;
  height: 3px;
  background: white;
  margin: -15px 0 0 6px; }
  @media (min-width: 600px) {
    .beltSectionTwo {
      width: 120px; } }

.headerThreeSectionTwo {
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin: 25px 0 30px 0; }

.textSectionTwo {
  color: #999999;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 22px; }

.imageSectionTwo {
  display: none; }
  @media (min-width: 600px) {
    .imageSectionTwo {
      display: inline-block;
      height: 649px;
      background-image: url(../images/Produktowe_Roksana-1.jpg);
      background-size: 55% auto;
      background-attachment: fixed;
      background-position: 95% 0%;
      background-repeat: no-repeat;
      float: right; } }

.sectionThree {
  height: 1450px;
  width: 100vw;
  top: 1289px;
  background-image: url("../images/backgroundTwo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  position: absolute; }
  @media (min-width: 600px) {
    .sectionThree {
      height: 813px;
      width: 100vw;
      top: 1469px; } }

.headerSection {
  font-size: 35px;
  text-align: center;
  color: #3f3640;
  margin: 40px 0;
  font-weight: 600; }
  @media (min-width: 600px) {
    .headerSection {
      margin: 80px 0 60px 0;
      font-size: 65px;
      font-weight: 700; } }

.bar {
  width: 120px;
  height: 3px;
  background-color: #3f3640;
  margin: -35px 0 55px calc(50% - 60px); }
  @media (min-width: 600px) {
    .bar {
      margin: -55px 0 80px calc(50% - 60px); } }

.icones {
  display: flex;
  flex-direction: column; }
  .icones * {
    width: 100%; }
  @media (min-width: 600px) {
    .icones {
      flex-direction: row; } }

.iconesTwo {
  display: flex;
  flex-direction: column; }
  .iconesTwo * {
    width: 100%; }
  @media (min-width: 600px) {
    .iconesTwo {
      flex-direction: row; } }

.text {
  display: flex;
  flex-direction: row; }
  .text i {
    margin-left: 5px;
    width: 25%;
    float: left;
    color: #ec7a5c; }
  .text p {
    color: #9b99ac;
    margin: 2px 0;
    width: 75%;
    float: right;
    font-size: 15px;
    font-weight: 300;
    text-align: justify; }
    .text p span {
      font-size: 20px;
      font-weight: 600;
      color: #3f3640; }

.sectionFour {
  height: 1213px;
  width: 100vw;
  top: 2739px;
  background-image: url("../images/backgroundFour.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  position: absolute; }
  .sectionFour div div {
    color: white; }
  .sectionFour div .bar {
    background-color: white; }
  @media (min-width: 600px) {
    .sectionFour {
      height: 913px;
      width: 100vw;
      top: 2282px; } }

.fa {
  margin-left: calc(50% - 25px);
  color: #ec7a5c; }

.textFive {
  margin-top: 50px; }
  .textFive p {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 0 20px; }

.circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-image: url(../images/wybrane/Aleksandra_Los-15-1.jpg);
  background-size: 100% auto;
  margin: 75px 0 0 calc(50% - 100px); }

.name {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin: 20px 20px; }

.nameUrl {
  font-size: 12px;
  font-weight: 400;
  text-align: center; }

.circlesUl {
  display: flex;
  padding: 0 calc(50% - 25px); }
  .circlesUl .smallCircles {
    width: 5px;
    height: 5px;
    margin-left: 20px;
    margin-top: 20px;
    color: white; }
  @media (min-width: 600px) {
    .circlesUl {
      padding: 0 calc(50% - 30px); } }
