* {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    //width: 1170px;
    //border: 1px solid blue;
}

// gallery section 5 

.conteinerGallery {
    max-width: 100vw;
    margin: 0 auto;
   // border: 1px solid green;
}

.row {
    &::after,
    &::before {
        display: table;
        content: '';
        clear: both;
    }
}

@for $i from 1 through $columnsCount {
    .col-#{$i} {
        width: (100%/$columnsCount)*$i;
    }
}

[class*='col-'] {
    float: left;
    min-height: 1px;
   // border: 1px solid red;
    padding: 10px;
//    @media (min-width: 400px) {
//        display: none;
//    }
}

@for $i from 1 through $columnsCount {
    .col-mobile-#{$i} {
        width: (100%/$columnsCount)*$i;
    }
}

[class*='col-mobile-'] {
    @media (min-width: 400px) {
        float: left;
        display: flex;
        flex-direction: row;
        border: 1px solid green;
        min-height: 1px;    
    }
}