.footerParameters {
    height: 680px;
    width: 100%;
    top: 9272px;
    background-image: url("../images/footer back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    //background-position: center;
    background-position: 0px 55px;
    position: absolute;
    z-index: 2;
    i {
        margin: 100px calc(50% - 20px) 40px;
    }
    p {
        text-align: center;
        font-size: 26px;
        font-weight: 600;
        color: white;
        @media (min-width: 600px) {
            font-size: 40px;
            font-weight: 700;
        }
    }
    .phone {
        font-size: 28px;
        margin-top: 1em;
        @media (min-width: 600px) {
            font-size: 66px;
            font-weight: 700;
        }
    }
    @media (min-width: 600px) {
        top: 6296px;
         width: 100%;
    }
}

.copy {
    background: rgba(255, 255, 255, 0.2);
    height: 183px;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    top: 497px;
    width: 100%;
    @media (min-width: 600px) {
        height: 123px;
        top: 556px
    }
    .copyText {
        color: white;
        font-size: 1em;
        margin: calc(25% - 20px) 0;
        @media (min-width: 600px) {
            margin: calc(5% - 20px) 0;
        }
    }
}