.footerParameters {
    height: 680px;
    width: 100%;
    top: 9212px;
    background-image: url("../images/footer back-min.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    //background-position: center;
    background-position: 0px 55px;
    position: absolute;
    z-index: 2;
    i {
        margin: 100px calc(50% - 20px) 40px;
    }
    p {
        text-align: center;
        font-size: 26px;
        font-weight: 600;
        color: white;
        @media (min-width: 600px) {
            font-size: 40px;
            font-weight: 700;
        }
    }
    .phone {
        font-size: 28px;
        margin-top: 1em;
        @media (min-width: 600px) {
            font-size: 66px;
            font-weight: 700;
        }
    }
    @media (min-width: 450px) {
        top: 6280px;
        width: 100%;
    }
    @media (min-width: 900px) {
        top: 5910px;
    }
    @media (min-width: 1100px) {
        top: 6276px;
    }
}

.copy {
    background: rgba(255, 255, 255, 0.2);
    height: 183px;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    top: 497px;
    width: 100%;
    @media (min-width: 600px) {
        height: 123px;
        top: 556px
    }
    .copyText {
        color: white;
        font-size: 1em;
        margin: calc(25% - 20px) 0 0 0;
        @media (min-width: 600px) {
            margin: 55px 0 0 0;
            font-size: 1em;
        }
        @media (min-width: 1000px) {
            font-size: 1.5em;
        }
    }
    a {
        margin-left: 5px;
        .icons {
            color: white;
            margin: 0;
            font-size: 1.5em;
        }
    }
}