.sectionTwo {
    height: 623px;
    background-color: $headerSectionThree;
    color: white;
    z-index: 2;
    position: absolute;
    width: 100%;
    top: 666px;
    @media (min-width: 600px) {
        height: 639px;
        top: 950px;
    }
}

.allText {
    * {
        width: 100%;
    }
    @media (min-width: 600px) {
        width: 50%;
        display: inline-block;
    }
}

.headerSectionTwo {
    font-size: 35px;
    font-weight: 400;
    margin: 32px 6px;
    @media (min-width: 600px) {
        font-size: 65px;
        margin: 42px 6px;
        font-weight: 600;
    }
}

.beltSectionTwo {
    width: 120px;
    height: 3px;
    background: white;
    margin: -15px 0 0 6px;
    @media (min-width: 600px) {
        width: 120px;
    }
}

.headerThreeSectionTwo {
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin: 25px 0 30px 0;
}

.textSectionTwo {
    color: $textTwoColor;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 22px;
}

.imageSectionTwo {
    display: none;
    @media (min-width: 600px) {
        display: inline-block;
        height: 639px;
        background-image: url(../images/Produktowe_Roksana-1-min.jpg);
        background-size: 55% auto;
        background-attachment: fixed;
        background-position: 95% 0%;
        background-repeat: no-repeat;
        float: right;
    }
}