.sectionOne {
    height: 830px;
    border: 1px solid orange;
    position: relative;
}

.photo {
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url("../images/wybrane/Natalia_Tarnawska-11.jpg");
    height: 100%;
    width: 100%;
    @media (min-width: 600px) {
        height: 100vh;
        width: 100vw;
    }
}

.btnLeft {
    width: 50px;
    cursor: pointer;
    float: left;
    height: 130px;
    background: rgba(255, 255, 255, 0.2);
    position: relative;
    top: calc(50% - 50px);
    span {
        color: white;
        font-size: 35px;
        top: calc(50% - 22px);
        position: absolute;
        margin-left: calc(50% - 12px);
    }
}

.btnRight {
    width: 50px;
    cursor: pointer;
    float: right;
    height: 130px;
    background: rgba(255, 255, 255, 0.2);
    position: relative;
    top: calc(50% - 50px);
    span {
        color: white;
        font-size: 35px;
        top: calc(50% - 22px);
        position: absolute;
        margin-left: calc(50% - 12px);
    }
}

.position {
    position: absolute;
    left: 0;
    right: 0;
    top: 124px;
    bottom: 0;
}

.headerOne {
    display: inline-block;
    font-weight: 200;
    color: white;
    font-size: 40px;
    margin-top: 100px;
    margin-left: calc(50% - 90px);
    @media (min-width: 600px) {
        font-size: 90px;
        margin: 250px 0 0 150px;
    }
}

.headerTwo {
    display: inline-block;
    font-weight: 600;
    color: white;
    font-size: 16px;
    margin: 10px 0 0 35px;
    @media (min-width: 600px) {
        font-size: 34px;
        margin-left: 270px;
    }
}

.btnOne {
    border: 2px solid white;
    display: inline-block;
    cursor: pointer;
    width: 120px;
    height: 50px;
    padding: 11px 24px;
    margin: 60px 0 0 127px;
    span {
        
        color: white;
        font-size: 18px;
    }
    @media (min-width: 600px) {
        height: 70px;
        width: 220px;
        margin-left: 270px;
        margin-left: 475px;
        margin-top: 75px;
         padding: 17px 58px;
        span {
            color: white;
            font-size: 25px;
           
        }
    }
}