.sectionSix {
    height: 2100px;
    width: 100%;
    top: 6692px;
    background-image: url("../images/backgroundSix-min.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: absolute;
    z-index: 2;
    div {
        color: white;
        .bar {
            background-color: white;
        }
    }
        @media (min-width: 450px) {
        height: 810px;
        width: 100%;
        top: 5056px;
    }
    
    
    @media (min-width: 1000px) {
        height: 985px;
        width: 100%;
        top: 5131px;
    }
}

.blogFlex {
    display: flex;
    flex-direction: column;
    color: red;
    @media (min-width: 600px) {
        flex-direction: row;
    }
}

.blogBox {
    width: 95%;
    height: 600px;
    background-color: white;
    margin: 8px;
    .blogTextName {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 12px;
        color: $textTwoColor;
        @media (min-width: 1000px) {
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 15px;
        }
    }
    .blogHeader {
        font-size: 26px;
        font-weight: 700;
        color: $headerSectionThree;
    }
    .blogDate {
        margin-top: 10px;
        font-size: 14px;
        color: $footerBtnCenter;
    }
    @media (min-width: 450px) {
        width: 235px;
        height: 425px;
    }
    @media (min-width: 1000px) {
        width: 400px;
         height: 600px;
    }
    p,
    h2 {
        text-align: center;
        color: red;
        @media (min-width: 600px) {
            text-align: left;
            margin-left: 20px;
        }
    }
}

.blogFoto {
    width: 100%;
    height: 75%;
}

.bgHover {
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.fotoOne {
    background-image: url("../images/galeria/Kinga_Kuczek-9-min.jpg");
    background-position: 65%;
    background-size: cover;
    background-repeat: no-repeat;
}

.fotoTwo {
    background-image: url("../images/galeria/Natalia_Tarnawska-11-min.jpg");
    background-position: 24%;
    background-size: cover;
    background-repeat: no-repeat;
}

.fotoThree {
    background-image: url("../images/galeria/Aleksandra_Los-17-min.jpg");
    background-position: 28%;
    background-size: cover;
    background-repeat: no-repeat;
}

.magni {
    display: inline-block;
}

.blogFoto:hover {
    filter: brightness(50%);
    transition: 0.5s;
    .magni {
        display: block;
    }
}

.blogTextName:hover,
.blogHeader:hover {
    cursor: pointer;
    color: $footerBtnRight;
    transition: 0.5s;
}