.sectionThree {
    height: 1450px;
    width: 100%;
    top: 1289px;
    background-image: url("../images/backgroundTwo-min.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: absolute;
    @media (min-width: 600px) {
        height: 813px;
        width: 100%;
        top: 1540px;
    }
}

.headerSection {
    font-size: 35px;
    text-align: center;
    color: $headerSectionThree;
    margin: 40px 0;
    font-weight: 600;
    @media (min-width: 600px) {
        margin: 80px 0 60px 0;
        font-size: 65px;
        font-weight: 700;
    }
}

.bar {
    width: 120px;
    height: 3px;
    background-color: $headerSectionThree;
    margin: -35px 0 55px calc(50% - 60px);
    @media (min-width: 600px) {
        margin: -55px 0 80px calc(50% - 60px);
    }
}

.icones {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    * {
        width: 100%;
    }
    @media (min-width: 600px) {
        flex-direction: row;
    }
}

.iconesTwo {
    display: flex;
    flex-direction: column;
    * {
        width: 100%;
    }
    @media (min-width: 600px) {
        flex-direction: row;
    }
}

.text {
    display: flex;
    flex-direction: row;
    i {
        margin-left: 5px;
        width: 25%;
        float: left;
        color: $footerBtnRight;
        transition: 1s;
    }
    text-align:center;
    transition:2s;
    p {
        span {
            font-size: 20px;
            font-weight: 600;
            color: $headerSectionThree;
        }
        color: $textSectionThree;
        margin: 2px 0;
        width: 75%;
        float: right;
        font-size: 15px;
        font-weight: 200;
        text-align: justify;
    }
}

.text:hover {
    i {
        transform: rotateY(180deg);
        color: #3f3640;
    }
}