.sectionOne {
    height: 640px;
    @media (min-width: 600px) {
        height: 1250px; //950px
        position: relative;
        overflow: hidden;
    }
}

.photo {
    list-style: none;
    li {
        display: none;
        .imgOne {
            top: 0;
            background-size: cover;
            position: absolute;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-image: url("../images/galeria/Natalia_Tarnawska-11-min-min.jpg");
            height: 301vh;
            width: 100%;
            @media (min-width: 600px) {
                height: 301vh;
                width: 100%;
            }
        }
        .imgTwo {
            top: 0;
            background-size: cover;
            position: absolute;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-image: url("../images/galeria/Kinga_Kuczek-9-min.jpg");
            height: 301vh;
            width: 100%;
            @media (min-width: 600px) {
                height: 300vh;
                width: 100%;
            }
        }
        .imgThree {
            top: 0;
            background-size: cover;
            position: absolute;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-image: url("../images/galeria/Aleksandra_Los-17-min-min.jpg");
            height: 301vh;
            width: 100%;
            @media (min-width: 600px) {
                height: 300vh;
                width: 100%;
            }
        }
    }
    .visible {
        display: inline-block;
    }
}

.btnLeft {
    left: 0px;
    width: 50px;
    cursor: pointer;
    float: left;
    height: 130px;
    background: rgba(255, 255, 255, 0.2);
    position: relative;
    top: calc(50% - 50px);
    z-index: 900;
    span {
        color: white;
        font-size: 35px;
        top: calc(50% - 22px);
        position: absolute;
        margin-left: calc(50% - 12px);
        z-index: 999;
    }
    @media (min-width: 600px) {
        top: calc(50% - 230px);
    }
}

.btnLeft:hover,
.btnRight:hover {
    background: rgba(255, 255, 255, 0.6);
}

.btnRight {
    width: 50px;
    cursor: pointer;
    float: right;
    height: 130px;
    background: rgba(255, 255, 255, 0.2);
    position: relative;
    right: 0px;
    top: calc(50% - 50px);
    z-index: 900;
    span {
        color: white;
        font-size: 35px;
        top: calc(50% - 22px);
        position: absolute;
        margin-left: calc(50% - 12px);
        z-index: 999;
    }
    @media (min-width: 600px) {
        // right: -40px;
        top: calc(50% - 230px);
    }
}

.position {
    position: absolute;
    left: 0;
    right: 0;
    top: 124px;
    bottom: 0;
}

.headerOne {
    display: inline-block;
    font-weight: 200;
    color: white;
    font-size: 40px;
    margin-top: 140px;
    margin-left: calc(50% - 90px);
    @media (min-width: 450px) {
        font-size: 90px;
        margin: 220px 0 0 calc(55% - 3em);
    }
    @media (min-width: 1000px) {
        margin: 250px 0 0 calc(50% - 5em);
    }
}

.headerTwo {
    display: inline-block;
    font-weight: 600;
    color: white;
    font-size: 16px;
    margin: 10px calc(50% - 150px);
    @media (min-width: 450px) {
        margin-left: calc(40% - 195px);
        font-size: 27px;
        margin: 0px 0 0 calc(50% - 270px);
    }
    @media (min-width: 800px) {
        margin-left: calc(40% - 195px);
        font-size: 34px;
        margin: 0 0 0 calc(50% - 325px);
    }
    @media (min-width: 1000px) {
        margin: 0 0 0 265px;
    }
}

.btnOne {
    border: 2px solid white;
    display: inline-block;
    cursor: pointer;
    width: 120px;
    height: 50px;
    padding: calc(9% - 20px) calc(15% - 25px);
    margin: 70px 0 0 127px;
    margin-left: calc(50% - 4em);
    span {
        color: white;
        font-size: 18px;
    }
    @media (min-width: 450px) {
        height: 70px;
        width: 220px;
        margin-top: 75px;
        padding: calc(5% - 20px) calc(10% - 20px);
        margin-left: calc(50% - 8em);
        span {
            text-align: center;
            margin-left: calc(35% - 20px);
            color: white;
            font-size: 25px;
        }
    }
    @media (min-width: 1000px) {
        padding: calc(3% - 20px) calc(10% - 20px);
        span {
            text-align: center;
            margin-left: calc(50% - 40px);
            color: white;
            font-size: 25px;
        }
    }
}

.btnOne:hover {
    transform: scale(1.2);
    transition: 0.5s;
    background-color: white;
    span {
        color: black;
    }
}

.sticky {
    display: none;
    position: fixed;
    width: 100%;
    background-color: $headerSectionThree;
    top: 0;
    height: 120px;
    left: 0;
    z-index: 999;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.35);
    transition: 0.4s;
    @media (min-width: 600px) {
        display: inline-block;
        height: 60px;
    }
}

.mobileMenuPos {
    margin: 65px 0px 0 calc(50% - 4.5em);
}

.mobileMenuActive {
    display: flex;
    background-color: $footerBtnCenter;
    width: 118px;
    height: 200px;
    margin-left: calc(50% - 4.4em);
    text-align: center;
    flex-direction: column;
    padding: 15px 0;
    li {
        display: block;
        padding: 0 0 12px 0;
        a {
            text-decoration: none;
            color: white;
            span {
                padding: 10px 0 10px 0;
                font-size: 20px;
            }
        }
    }
    li:hover {
        background-color: $footerBtnLeft;
    }
}