//main colors
$sectionTwoColor: #3f3640;
$textTwoColor: #999999;
$headerSectionThree: #3f3640;
$textSectionThree: #9b99ac;

$sectionFourColor: #6f3d3c;
$sectionFiveColor: #ec9c5c;


//btns background
$footerBtnLeft: #ec9c5c;
$footerBtnCenter: #ec8c5c;
$footerBtnRight: #ec7a5c;


//
////main colors
//$sectionTwoColor: #8D8D8D;
//$textTwoColor: #999999;
//$headerSectionThree: #3f3640;
//$textSectionThree: #9b99ac;
//
//$sectionFourColor: #3f3640;
//$sectionFiveColor: #3399FF;
//
//
////btns background
//$footerBtnLeft: #66CCFF;
//$footerBtnCenter: #3399FF;
//$footerBtnRight: #0066FF;
//


