//main colors
$sectionTwoColor: #3f3640;
$textTwoColor: #999999;
$sectionFourColor: #6f3d3c;
$sectionFiveColor: #ec9c5c;


//btns background
$footerBtnLeft: #ec9c5c;
$footerBtnCenter: #ec8c5c;
$footerBtnRight: #ec7a5c;


